MYSQL_ROOT_PASSWORD=root
MYSQL_USER=app
MYSQL_PASSWORD=app
MYSQL_PORT=3306

REDIS_PORT=6379

MONGO_ROOT_USERNAME=root
MONGO_ROOT_PASSWORD=root
MONGO_PORT=27017

KAFKA_PORT=9092
KAFKA_CLUSTER_ID=q1Sh-9ISQqS9d9pG5V1QqA
